# Copyright (c) 2000-2022, Board of Trustees of Leland Stanford Jr. University
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
#
# 2. Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
#
# 3. Neither the name of the copyright holder nor the names of its contributors
# may be used to endorse or promote products derived from this software without
# specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.

# Sphinx itself
# https://pypi.org/project/Sphinx/
# https://www.sphinx-doc.org/
sphinx

# The Sphinx theme by Read The Docs
# https://pypi.org/project/sphinx-rtd-theme/
# https://sphinx-rtd-theme.readthedocs.io/
sphinx-rtd-theme

# The sphinx_tabs.tabs extension, to make tabbed panes
# https://pypi.org/project/sphinx-tabs/
# https://sphinx-tabs.readthedocs.io/
sphinx-tabs

# The sphinxcontrib.email extension, to obfuscate mailto links
# https://pypi.org/project/sphinxcontrib-email/
# https://github.com/sphinx-contrib/email
sphinxcontrib-email

# The sphinxcontrib.openapi extension, to render OpenAPI/Swagger specs
# https://pypi.org/project/sphinxcontrib-openapi/
# https://sphinxcontrib-openapi.readthedocs.io/
mistune==0.8.4 # See e.g. https://github.com/Tribler/tribler/issues/6624
sphinxcontrib-openapi

